.form-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 500px;
    min-height: 500px;
}
.form-row {
  display: flex;
  gap: 16px;
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.form-label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.select-box, .input-box {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  font-size: 14px;
}
input::placeholder {
  color: #666;
}
.input-number,.input-text {
  height: 38px;
  background-color: #fff;
  padding: 0px 50px 0px 12px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}
.pw-icon {
  position: absolute;
  right: 16px;
  cursor: pointer;
  user-select: none;
}
.input-radio {
  display: flex;
  gap: 24px;
  margin-top: 6px;
}

.radio-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #111827;
}

.radio-option input[type="radio"] {
  margin-right: 6px;
  accent-color: #2563eb; /* màu xanh dương */
}

.form-hint {
  font-size: 12px;
  color: #6b7280;
  margin-top: 4px;
}

.sidebar__menu-item {
  white-space: nowrap;       /* Không xuống dòng */
  overflow: hidden;          /* Ẩn phần bị tràn */
  text-overflow: ellipsis;   /* Hiển thị ... */
}
