#chat-history {
  max-height: 435px;
  overflow-y: scroll;
  min-height: 0;
}
.sidebar__menu-item{
    flex-shrink: 0;
}
.ck-sticky-panel__placeholder{
    display: none !important;
}
@media (max-width: 820px) {
    .recent-post .dot{
        display: none;
    }
    .recent-post .simple-item .grow div{
        white-space: unset !important;
    }
    .recent-post .muted{
        display: none;
    }
    body.mobile-menu-open {
        overflow: hidden;
        max-height:100vh;
    }
    .content-wrapper{
        min-height: auto !important;
    }
    .cms-content {
        flex-direction: column !important;
    }
    #formWrapper{
        min-width: 100% !important;
    }
    .footer-actions{
        position: fixed !important;
        bottom: 0px !important;
        right: 0px !important;
        left: auto !important;
        box-sizing: border-box;
        padding: 16px 12px 36px 12px !important;
    }
    .sidebar-placeholder{
        display: none !important;
    }
    .mobile-top-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background: #fff;
        border-bottom: 1px solid #ddd;
        z-index: 2000; /* lớn hơn sidebar */
        height: 50px;
    }
    .mobile-top-menu .logo {
        display: flex;
    }
    .mobile-top-menu .menu-right {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    .mobile-top-menu .btn-plus {
        font-size: 20px;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 4px 10px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 6px;
        background: #3E61FF;
        color: #FFFFFF;

    }

    .mobile-top-menu .btn-menu {
        width: 20px;
        height: 14px;
        position: relative;
        border: none;
        background: none;
        cursor: pointer;
    }

    .mobile-top-menu .btn-menu .bar {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #363F5E;
        left: 0;
        transition: all 0.3s ease;
        border-radius: 6px;
        background: #363F5E;
    }

    .mobile-top-menu .btn-menu .bar:nth-child(1) { top: 0; }
    .mobile-top-menu .btn-menu .bar:nth-child(2) { top: 6px; }
    .mobile-top-menu .btn-menu .bar:nth-child(3) { top: 12px; width: 14px; }

    .mobile-top-menu .btn-menu.active .bar:nth-child(1) {
        transform: rotate(45deg);
        top: 7px;
    }
    .mobile-top-menu .btn-menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    .mobile-top-menu .btn-menu.active .bar:nth-child(3) {
        transform: rotate(-45deg);
        top: 7px;
        width:100%;
    }

    /* Sidebar */
    .sidebar {
        position: fixed !important;
        top: 0;
        left: -100% !important; /* ẩn bên trái */
        width: 100% !important;
        height: 100% !important;
        background: #f8f8f8;
        transition: left 0.3s ease;
        z-index: 1000; /* nhỏ hơn menu-top */
        padding-top: 70px;
        flex-direction: column-reverse !important;
        justify-content: flex-end !important;

    }
    
    .sidebar.open {
        left: 0 !important;
        background: #FFF;
    }
    
    .sidebar__header{
        display: none !important;
    }

    .sidebar__primary-action{
        display: none !important;
    }

    .smart-paragraph-container{
        padding-top: 88px !important;
        position: relative !important;
    }

    .sidebar__user-info{
        margin-top: 0px !important;
    }

    .sidebar__divider{
        margin: 10px !important;
    }

    .sidebar__user-info{
        padding: 20px 16px 10px 16px !important
    }
    #chat-history {
        padding-top: 0px;
        max-height: calc(100vh - 480px) !important;
        overflow-y: scroll;
        min-height: 0;
        position: absolute;
        top: 390px;
        width: 100%;
    }
    .sidebar__section-title{
        position: sticky;
        top: 0px;
        background: #FFF;
    }
    .output-content{
        padding: 0px !important;
    }
    .ai-generate-content{
        min-width: 0px !important;

    }
    .template-search {
        width: 100% !important;
    }
    body {
        padding-bottom: 80px;
    }
    .generate-grid{
        flex-direction: column;
    }
   .form-content{
    min-width: 0;
    max-width: 100%;
   }
   .table-responsive{
    overflow-x: scroll;
   }
   .image-generate-modal {
        width: 100%;
        height: 100vh !important;
        max-width: 100% !important;
        max-height: 100vh !important;
        border-radius: 0px !important;
   }
   .image-generate-modal .simple-footer{
        position: fixed;
        bottom: 0px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }
    .modal-generate-image .output-list{
        height: auto !important;
        overflow: visible !important;
        padding-bottom: 80px;
    }
    .image-generate-modal .simple-body{
        overflow-y: scroll;
    }
   .dataTables_wrapper .dataTables_paginate{
    float: right !important;
   }
   #totalLength{
    display: none;
   }
    #usersTable_filter {
    width: 100%;
    display: block;
    float: none;
    }
   #usersTable.dataTable{
    min-width: 1000px;
   }
   #userAddButton {
    font-size: 12px;
    padding: 9px 9px;
    top: 19px;
    right: 14px;
  }
  .btn-icon{
    display: flex;
  }
  .btn-icon svg {
    width: 18px;
    height: 18px;
  }

}
.ck-sticky-panel__content {
  top: 61px !important;
}
#ckeditorModal{
    z-index: 2050 !important;
}
.sidebar__logo img{
    max-width: 130px !important;
    cursor: pointer;
}
.logo img{
    max-width: 130px !important;
}